<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    this is main layout .
    {{{body}}}
  </body>
</html>
